{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'website/css/style.css' %}" rel='stylesheet' type='text/css' />
	<title>Login</title>
</head>
<body>

	<navbar>
<ul class="nav-list">
  <li class="nav-item"><a  href="#"><img src="{% static 'website/images/logo2.png' %}"></a></li>
  <li class="nav-item"><a class="active" href="/">Home</a></li>
</ul>
</navbar>
<div class="bg-agile">
<div class="book-appointment">
<div class="gaps">
<h2> Your appointments</h2>
{% for item in MyModels %}
	<p>{{ item.username}} on {{ item.date}} at {{ item.time}} {{ item.service}} by {{ item.barber}}</p>
	<br>
{% endfor %}
</div>
</div>
</div>
</body>
</html>